/* static/css/components.css */
:root {
    --background-color-light: #ffffff;
    --background-color-dark: #212121;

    --text-color-light: #000000;
    --text-color-dark: #FFFFFF;

    --accent-color-light: #00A200;
    --accent-color-dark: #00A200;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--background-color-dark);
        --text-color: var(--text-color-dark);
        --accent-color: var(--accent-color-dark);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: var(--background-color-light);
        --text-color: var(--text-color-light);
        --accent-color: var(--accent-color-light);
    }
}

/* Entfernt den Umriss bei Fokus auf der gesamten App und allen Buttons */
.App:focus,
button:focus {
    outline: none; /* Entfernt den Standardfokus-Umriss */
}

/* Stile für die Anzeige des Spielstands */
.in-game-score {
    display: flex; /* Verwendet Flexbox für die Anordnung der Elemente */
    justify-content: center; /* Zentriert die Elemente horizontal */
    text-align: center; /* Zentriert den Text */
}

/* Stile für den Container der verbleibenden gültigen Wörter */
.valid-words-remaining-container {
    margin-right: 20px; /* Rechter Außenabstand */
}

/* Stile für die Anzeige der Punktzahl */
.in-game-score .score-count {
    font-size: 2em; /* Vergrößerte Schriftgröße */
    margin-bottom: 15px; /* Untermargin */
}

/* Stile für den Zurücknahme-Link */
.show-undo-link {
    color: var(--accent-color); /* Blaue Textfarbe */
    text-decoration: underline; /* Unterstrichener Text */
    cursor: pointer; /* Cursor als Zeiger, zeigt Interaktivität */
}

/* Stile für das abgerundete Eingabefeld */
.input-rounded {
    border-radius: 15px; /* Abgerundete Ecken */
    padding: 10px; /* Innenabstand */
    border: 2px solid #ccc; /* Rand des Eingabefelds */
    outline: none; /* Entfernt den Standardfokus-Umriss */
    background: var(--background-color); /* Hintergrundfarbe */
    color: var(--text-color); /* Textfarbe */
}

/* Stile für das Eingabefeld bei Fokus */
.input-rounded:focus {
    border-color: #66afe9; /* Ändert die Randfarbe bei Fokus */
    box-shadow: 0 0 8px rgba(102, 175, 233, .6); /* Schatten um das Eingabefeld bei Fokus */
}

/* Stile für die Schriftgröße und Farbe der Punktzahl */
.score-count {
    font-size: 2em; /* Größere Schriftgröße */
    color: var(--accent-color);
}