/* static/css/layout.css */

:root {
    --background-color-light: #ffffff;
    --background-color-dark: #212121;

    --text-color-light: #000000;
    --text-color-dark: #FFFFFF;

    --accent-color-light: #008000;
    --accent-color-dark: #008000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--background-color-dark);
        --text-color: var(--text-color-dark);
        --accent-color: var(--accent-color-dark);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: var(--background-color-light);
        --text-color: var(--text-color-light);
        --accent-color: var(--accent-color-light);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --cell-font-color: #FFFFFF;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --cell-font-color: #0096f5;
    }
}

/* Container für das gesamte Spiel-Layout */
.grid-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr; /* 5 Spalten */
    grid-template-rows: auto auto 1fr auto auto auto; /* Kopfzeile, Labels, Buchstabenboxen, Platzhalter, Textbox */
    gap: 10px;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

/* Stile für die Labels "Übrige Wörter" und "Verbliebene Zurücknahme" */
.words-left {
    grid-column: 2; /* Platziert in der zweiten Spalte */
    grid-row: 2; /* Zweite Zeile */
    text-align: center;
    color: var(--text-color);

}

.words-right {
    grid-column: 4; /* Platziert in der vierten Spalte */
    grid-row: 2; /* Zweite Zeile */
    text-align: center;
    color: var(--text-color);
}

/* Stile für das Grid, das die Buchstabenboxen enthält */
.game-grid {
    grid-column: 3; /* Platziert das Grid in der dritten Spalte */
    grid-row: 3; /* Dritte Zeile */
    display: grid;
    gap: 5px;
}

/* Stile für jede Reihe innerhalb des Buchstabenbox-Grids */
.game-row {
    display: flex; /* Verwendet Flexbox für die Anordnung der Elemente innerhalb der Reihe */
}

/* Stile für jede einzelne Buchstabenbox */
.game-cell {
    width: 60px;
    height: 60px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 7px;
    display: flex; /* Flexbox für zentrierte Ausrichtung */
    justify-content: center; /* Horizontale Zentrierung */
    align-items: center; /* Vertikale Zentrierung */
    font-size: 38px; /* Größere Schriftgröße für Sichtbarkeit */
    text-transform: uppercase; /* Großbuchstaben */
    color: var(--cell-font-color); /* Standardtextfarbe */
    /* Optional weitere Stile wie Schriftart und Farbe */
}

/* Stile für das Eingabefeld */
.input-box {
    grid-column: 3; /* Platziert das Eingabefeld in der dritten Spalte */
    grid-row: 5; /* Platziert das Eingabefeld in der fünften Zeile */
    color: var(--accent-color);
}


/* Zusätzliche Stile für das letzte Wort und den Teilen-Button */
.final-word-container {
    grid-column: 3; /* Platziert den Container in der mittleren Spalte */
    grid-row: 7; /* Neue Zeile unterhalb des Spielgitters */
    display: none; /* Versteckt den Container standardmäßig */
    justify-self: center; /* Zentriert den Container in seiner Spalte */
    width: 100%; /* Lässt den Container die gesamte Spaltenbreite ausfüllen */
    margin-top: 20px; /* Abstand nach oben */
    text-align: center;
}

.final-word {
    font-size: 1em; /* Passen Sie die Schriftgröße nach Bedarf an */
    color: var(--text-color); /* Dunkle Schriftfarbe für bessere Lesbarkeit */
    margin-bottom: 10px; /* Abstand zwischen Text und Button */
}

.share-button {
    background-color: #4CAF50; /* Grüner Hintergrund */
    color: white; /* Weiße Schrift */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block; /* Setzen Sie auf block, um den Button innerhalb des Containers anzuzeigen */
    font-size: 16px;
    margin: 4px auto; /* Zentriert den Button innerhalb des Containers */
    cursor: pointer;
    border-radius: 5px; /* Abgerundete Ecken */
}

/* Hover-Effekt für den Teilen-Button */
.share-button:hover {
    display: none;
    background-color: #45a049; /* Etwas dunkleres Grün */
}